     <div class="login-page">
                        <form method="POST" action="/login">
                        <input type="text" placeholder="Email" class="input" Name="email" id="email" required>
                        <input type="password" placeholder="Password" class="input my-input" Name="password"
                            id="password" required>
                        <button class="btn" type="submit" onClick="index()">Login</button>
                        </form>
                        <a href=" #" class="forgot"><span style="opacity: 0.6;">Forgot</span> Username/Password?</a>
                        <a href="#" class="create-account" onclick="myFunction()">Create Your Account</a>
                    </div> 