 <div id="sign">
                <div class="form">
                    <p class="member"><strong> Student Room Finder </strong>
                    <p>
                    <div class="login-page">
                        <form method="POST" action="/register">
                            <input type="name" placeholder="Name" class="input" required id="name" name="name">
                            <input type="email" placeholder="Email" class="input" required id="email" name="email">
                            <input type="text" placeholder="contact" class="input my-input" required id="contact"
                                name="contact">
                            <input type="password" placeholder="Password" class="input" required id="password"
                                name="password">

                            <button class="btn" type="submit" onclick="acceptData()">Sign Up</button>
                        </form>
                        <a href="#" class="forgot" onclick="second()">Login</a>
                    </div>

                </div>
            </div>